<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CoCafe</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="CssDesign.css" rel="stylesheet" /> -->
  </head>
  <body id="FrontPage-Body">
    <header>
      <img src="Cocafe-logo.jpeg" alt="Cafeteria Logo" />
      <div>CoCafe</div>
      <div class="FrontPage-Search">
        <input type="text" placeholder="What are you looking for?" />
        <button type="submit"></button>
      </div>
      <span id="Name">
      Hi! <%= @current_user.first_name %>
      </span>
      <%= link_to "Sign Out", destroy_session_path, method: "delete", :id => 'Sign-Out' %>
    </header>

    <navbar>
      <ul class="Navigation">
          <li><%= link_to "Menu", menu_items_path %></li>
          <li><%= link_to "All Orders", all_orders_path %></li>
      </ul>
    </navbar>

    <br /><br />

    <article class="Dishes">
      <%= render partial: "AllOrder-section" %>
    </article>
    <footer> </footer>
  </body>
</html>
